.text-black {
    color: rgba(0, 0, 0, 0.717) !important;
    font-weight:500;
}

.row>* {
    padding-right: 0px !important;
}
#sub-product{
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

.show {
    display:flex !important;
}

li>a:hover {
    background-color: rgba(0, 0, 0, 0.751) !important;
    color: rgb(255, 254, 254) !important;
}

.clicked {
    background-color: rgba(0, 0, 0, 0.751) !important;
    color: rgb(255, 254, 254) !important;
}

.user-avatar img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid black;
}
