body {
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none !important;
}

.super_container{
    position: fixed;
    top: 0;
    z-index: 10;
}

#content-container {
    display: block;
    position: relative;
    min-height: 100%;
}

// #login-form .card {
//     margin-top: -100px;
// }

.footer-container {
    z-index: 8;
}

.text-black {
    color: rgba(0, 0, 0, 0.717) !important;
    font-weight:500;
}

.row>* {
    padding-right: 0px !important;
}
#sub-product{
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0px !important;
}

.show {
    display:flex !important;
}

li>a:hover {
    background-color: rgba(0, 0, 0, 0.751) !important;
    color: rgb(255, 254, 254) !important;
}

.clicked {
    background-color: rgba(0, 0, 0, 0.751) !important;
    color: rgb(255, 254, 254) !important;
}

.user-avatar {
    width: 140px;
    height: 140px;
}
.user-avatar img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid black;
}

select {
    color: #000000 !important;
    border: 1px solid #000000 !important;
    padding: 0.25rem 1rem !important;
    margin-left: 0px !important;
}

.invalid {
    color: red;
    border-color: red;
}

i {
    color: #000000;
}

#form-edit {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: #0000008a;
}


#form-edit .container {
    margin-top: 3rem;
}

.text-gray-300 {
    color: gray;
}


//home
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
    margin-left: 1.25rem;
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.card-title {
    color: gray;
}
.card-price {
    color: red;
}
h3{
    color: rgb(0, 91, 228);
}

#wish-list>i {
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

#discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#discount>p {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
