body {
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none;
}

.super_container{
    position: fixed;
    top: 0;
    z-index: 10;
}

#content-container {
    display: block;
    position: relative;
    min-height: 100%;
}

// #login-form .card {
//     margin-top: -100px;
// }

.footer-container {
    z-index: 8;
}