
<div class="container-sidebar">
    <div class="row min-vh-100 flex-lg-nowrap">
        <div class="bg-light col-auto col-md-2 col-lg-2 min-vh-100 d-flex flex-column justify-content-start">
            <a href="/" class="p-4 d-flex text-decoration-none align-items-center justify-content-center border-bottom">
                <span class="fs-5 fw-semibold" style="color: #0e8ce4;">BSHOP</span>
            </a>
            <ul class="nav nav-pills flex-column ml-3 mt-2">
                <li class=" p-2 nav-items">
                    <a href="/admin" class="nav-link text-black" aria-current="page">Dashboard</a>
                </li>
                <li class="p-2 nav-items dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-black dropdown" aria-current="page" id="product-dropdown">
                        Products
                    </a>
                    <div class="nav sub-nav flex-column bg-white list-group" aria-labelledby="product-dropdown" id="sub-product">
                        <ul>
                            <li class="link__get p-2 nav-items border-bottom" data-idElement="products">
                                <a href="http://localhost:3000/admin/products" class="nav-link sub-link text-black" aria-current="page">All Products</a>
                            </li>   
                            <li class="link__get p-2 nav-items border-bottom" data-idElement="edit-products">
                                <a href="http://localhost:3000/admin/products/create" class="nav-link sub-link text-black" aria-current="page">Create Product</a>
                            </li>
                            <li class="link__get p-2 nav-items border-bottom" data-idElement="trash-can">
                                <a href="http://localhost:3000/admin/trash" class="nav-link sub-link text-black" aria-current="page">Trash Can</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="link__get p-2 nav-items">
                    <a href="http://localhost:3000/admin/access-setting" class="nav-link text-black" aria-current="page">Access Setting</a>
                </li>      
                <li class="p-2 nav-items">
                    <a href="/logout" class="nav-link text-black" aria-current="page">Log Out</a>
                </li>            
            </ul>
        </div>
        <div class="col content-container p-5">
            {{#if (equal layoutPage 'dashboard')}}
                {{> component/admin/layout/dashboard configHeader=configHeader}}
            {{/if}}
            {{#if (equal layoutPage 'products')}}
                {{> component/admin/layout/products configHeader=configHeader}}
            {{/if}}
            {{#if (equal layoutPage 'trash')}}
                {{> component/admin/layout/trash configHeader=configHeader}}
            {{/if}}
            {{#if (equal layoutPage 'createProduct')}}
                {{> component/admin/layout/createProduct configHeader=configHeader}}
            {{/if}}
            {{#if (equal layoutPage 'access-setting')}}
                {{> component/admin/layout/access_setting configHeader=configHeader}}
            {{/if}}
        </div>
        <script>
            const linkGets = document.querySelectorAll('.link__get')
            const content_container = document.querySelector('.content-container')
            linkGets.forEach((element) => {
                element.addEventListener('click', async() => {
                    if(element.id == 'user_infor') {
                        if(element.classList.contains('disabled')) {
                            element.classList.remove('disabled')
                        }
                    } else {
                        const idElement = element.getAttribute('data-idElement')
                        if(content_container.contains(document.getElementById(idElement))) {
                            document.getElementById(idElement).classList.remove('disabled')
                        } else {
                            const html = (await axios.get('http://localhost:3000/private/products')).data
                            console.log(html)
                            content_container.insertAdjacentHTML('beforeend', html)
                        }
                        linkGets.forEach((e) => {
                            if(e != element) {
                                console.log(e)
                                console.log('khac')
                                if(!!document.getElementById(e.getAttribute('data-idElement'))) {
                                    document.getElementById(e.getAttribute('data-idElement')).classList.add('disabled')
                                }
                            }
                        })
                    }
                })
            })
        </script>
        <script>
            const navSubs = document.querySelectorAll('.dropdown')
            navSubs.forEach((navSub) => {
                navSub.addEventListener('click', (e) => {
                    e.stopPropagation()
                    const targetItem = document.querySelector(`[aria-labelledby="${navSub.id}"]`)
                    if(targetItem.classList.contains('show')) {
                        targetItem.classList.remove('show')
                        {{!-- const subItems = document.querySelectorAll(`#${targetItem.id} li`)
                        subItems.forEach((subItem)=> {
                            if(subItem.classList.contains('clicked')) {
                                subItem.classList.remove('clicked')
                            }
                        }) --}}

                    } else {
                        targetItem.classList.add('show')
                    }
                })
            })

            const navItems = document.querySelectorAll('.nav-link')
            navItems.forEach((item) => {
                item.addEventListener('click',() => {
                    if(item.classList.contains('clicked')) {
                        item.classList.remove('clicked')
                    } else {
                        navItems.forEach((subItem)=> {
                            if(subItem.classList.contains('clicked') && subItem != item) {
                                subItem.classList.remove('clicked')
                            }
                        })
                        item.classList.add('clicked')
                    }
                    e.stopPropagation()
                })
            })
        </script>
    </div>
</div>
