<div id="dashboard" class="min-vh-100 mx-4 mt-4">
    <div class="row p-3">
        <h3 class="title_dashboard">Dashboard</h3>
    </div>
    <div class="row mt-1">
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card h-100 py-2 bg-light" style="border-left: #4d72dc solid 5px; border-radius: 4px;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-sx fw-bold mb-1" style="font-size: 0.75rem ;color: #4d72dc;">EARNINGS (MONTHLY)</div>
                            <h5 id="total-earning__monthly">${{configHeader.earning_month}}</h5>
                        </div>
                        <div class="col-auto fw-bold me-3">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card h-100 py-2 bg-light" style="border-left: #1cc88a solid 5px; border-radius: 4px;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-sx fw-bold mb-1" style="font-size: 0.75rem ;color: #1cc88a;">EARNINGS (ANNUAL)</div>
                            <h5 id="total-earning__annual">${{configHeader.earning_year}}</h5>
                        </div>
                        <div class="col-auto fw-bold me-3">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card h-100 py-2 bg-light" style="border-left: #f6c23e solid 5px; border-radius: 4px;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-sx fw-bold mb-1" style="font-size: 0.75rem ;color: #f6c23e;">PENDING SEND</div>
                            <h5 id="total-products__pending">{{configHeader.pending_count}}</h5>
                        </div>
                        <div class="col-auto fw-bold me-3">
                            <i class="fa fa-hourglass-half fa-2x text-gray-300" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card h-100 py-2 bg-light" style="border-left: #36b9cc solid 5px; border-radius: 4px;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-sx fw-bold mb-1" style="font-size: 0.75rem ; color: #36b9cc;">COMPLETED</div>
                            <h5 id="total-products__completed">{{configHeader.completed_count}}</h5>
                        </div>
                        <div class="col-auto fw-bold me-3">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>